body{
    margin: 0px;
}
header{
    width: 100%;
    height: 10vh;
    background-color: brown;
}
footer{
    width: 100%;
    height: 5vh;
    background-color: brown;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.sectionLateral{
    width: 15vw;
    height: 85vh;
    display: flex;
    background-color: blueviolet;
}
.foto{
    width: 10vw;
    height: 10vw;
    background-color: blue;
    position: absolute;
    top: 15vh;
    left: 45vw;
    right: 45vw;
    transition: ease-in-out 1s;
}
.Curriculo{
    width: 85vw;
    height: 85vh;
    overflow-y: scroll;

    .CurriculoContent{
        padding-top: 25vh;
        width: 100%;
        min-height: 100vh;
        background-color: aqua;
    }
}